<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lisa's Calculator Project</title>
</head>
<body>
	<form action="/calculate" method="post">
		<h1>Lisa's Calculator Project</h1>
		<input type="number" name="firstNumber" required> <select
			name="operator">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">*</option>
			<option value="/">/</option>
			<option value="^">^</option>
		</select> <input type="number" name="secondNumber" required>
		<button>submit</button>
	</form>
	<h3>{{quotes}}</h3>



</body>


</html>


